{% extends "layout1.html" %}

{% block head  %} Register {% endblock %}
{% block body %}
    {% if i==1 %}
        <style>
            .error{
                margin:auto;
                margin-left:30%;
                margin-right:30%;
                margin-top:15%;
                background:rgba(64,64,64,0.8);
                padding:3%;
                color:white;
                border-radius: 10px;
            }
            h1{
                margin:1%;
                padding:1%;
            }
        a{
            color:#99ccff;
        }
        .error a:hover{
                text-decoration: none;
                color:#ffccee;
            }

        </style>
        <div class="error">
            <h1> Username already taken</h1>
            <a href="{{url_for('register')}}"> Press here to try again. </a>
        </div>
    {% elif i==2 %}
        <style>
            .success{
                margin:auto;
                margin-left:30%;
                margin-right:30%;
                margin-top:15%;
                background:rgba(64,64,64,0.8);
                padding:3%;
                color:white;
                border-radius: 10px;
            }
            h1{
                margin:1%;
                padding:1%;
            }
        a{
            color:#99ccff;
        }
        .success a:hover{
                text-decoration: none;
                color:#ffccee;
            }

        </style>
        <div class="success">
            <h1> You have succesfully made an account</h1>
            <a href="{{url_for('home')}}"> Press here to Login in </a>
        </div>
    {% else %}
        <div style="margin-top:15%; margin-left:20%; margin:auto; margin-left:30%; margin-right:30%; margin-top:5%; background:rgba(64,64,64,0.8); padding:3%; color:white; border-radius: 10px;">
                <h1>Sign Up here!</h1>
                <div class="login">
                    <form action="{{ url_for('success')}}" method="post">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="first">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="last">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="email">
                        <small id="emailHelp" style="color:#b3b3b3;">We'll never share your email with anyone else.</small>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
        </div>
    {% endif %}
{% endblock %}
  
